@model GorgeShipping.Models.ViewModel.UserListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class="text-info text-center">Contact Detail</h2>
        <br /><br />
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <b>Personal Information</b>
                <hr width=50% size=5 align=left>
                <div style="background-color:lavenderblush;">
                    <div class="form-group rounded">
                        <div class="col">
                            <label asp-for="Users.Name"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextBoxFor(m => m.Users.Name).Width(250).Height(30))
                        </div>
                        <span asp-validation-for="Users.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col">
                            <label asp-for="Users.Email"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextBoxFor(m => m.Users.Email).Width(250).Height(30))
                        </div>
                        <span asp-validation-for="Users.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col">
                            <h6 class="text-info">First Number</h6>
                            <partial name="_TelPartial" model="@Model.TelephoneNumbers" />
                        </div>
                    </div>
                    <br />

                    @if (Model.TelephoneNumbers.id != Model.TelephoneNumbers2.id)
                    {
                        <div class="form-group">
                            <div class="col">
                                <h6 class="text-info">Second Number</h6>
                                <partial name="_TelPartial" model="@Model.TelephoneNumbers2" />
                            </div>
                        </div>
                    }
                    <br />
                </div>
            </div>

            <div class="col-sm-5">
                <b>Address Information</b>
                <hr width=50% size=5 align=left>
                <div style="background-color:lavenderblush;">

                    <div class="form-group">
                        <div class="col">
                            <h6 class="text-info">First Address</h6>
                            <partial name="_DetailPartial" model="@Model.Addresses" />
                        </div>
                    </div>

                    <br />

                    @if (Model.Addresses.id != Model.Addresses2.id)
                    {
                    <div class="form-group">
                        <div class="col">
                            <h6 class="text-info">Second Address</h6>
                            <partial name="_DetailPartial" model="@Model.Addresses2" />
                        </div>
                    </div>
                    }
                    <br />

                </div>
                <br />
                <div class="form-group">

                    @if (Model.Addresses.id != Model.Addresses2.id && Model.TelephoneNumbers.id != Model.TelephoneNumbers2.id)
                    {
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                        <a asp-action="Print" asp-route-id="@Model.Users.id" class="btn btn-outline-warning">Print</a> 
                    </div>
                    }

                    else if (Model.Addresses.id != Model.Addresses2.id)
                    {
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                        <a asp-controller="TelNumber" asp-action="Create" asp-route-id="@Model.TelephoneNumbers.UserId" class="btn btn-outline-info">
                            <i class="fas fa-phone-alt"></i> &nbsp; New Phone
                            <a asp-action="Print" asp-route-id="@Model.Users.id" class="btn btn-outline-warning">Print</a>
                        </a>
                    </div>
                    }

                    else if (Model.TelephoneNumbers.id != Model.TelephoneNumbers2.id)
                    {
                <div class="text-center">
                    <a asp-controller="Address" asp-action="Create" asp-route-id="@Model.Addresses.UserId" class="btn btn-outline-info">
                        <i class="far fa-address-card"></i> &nbsp; New Address
                    </a>
                    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                    <a asp-action="Print" asp-route-id="@Model.Users.id" class="btn btn-outline-warning">Print</a>
                </div>
                    }

                    else
                    {
                <div class="text-center">
                    <a asp-controller="Address" asp-action="Create" asp-route-id="@Model.Addresses.UserId" class="btn btn-outline-info">
                        <i class="far fa-address-card"></i> &nbsp; New Address
                    </a>
                    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                    <a asp-controller="TelNumber" asp-action="Create" asp-route-id="@Model.TelephoneNumbers.UserId" class="btn btn-outline-info">
                        <i class="fas fa-phone-alt"></i> &nbsp; New Phone
                    </a> <br />

                    <a asp-action="Print" asp-route-id="@Model.Users.id" class="btn btn-outline-warning">Print</a>
                </div>
                    }
                </div>

                <div class="col-sm-1"></div>
            </div>

        </div>
    </form>

</body>
</html>
