@model GorgeShipping.Models.ViewModel.UserListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class="text-info text-center">Edit Contact</h2>
        <input hidden asp-for="Users.id" />
        <br /><br />
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-5">
                <b>Personal Information</b>
                <hr width=50% size=5 align=left>
                <div style="background-color:lavenderblush;">
                    <div class="form-group rounded">
                        <div class="col">
                            <label asp-for="Users.Name"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextBoxFor(m => m.Users.Name).Width(250).Height(30))
                        </div>
                        <span asp-validation-for="Users.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col">
                            <label asp-for="Users.Email"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextBoxFor(m => m.Users.Email).Width(250).Height(30))
                        </div>
                        <span asp-validation-for="Users.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <h6 class="text-info">First Number</h6>
                        <div class="col ">
                            <label asp-for="TelephoneNumbers.TelNumber"></label>
                        </div>
                        <div class="col ">
                            @(Html.DevExtreme().TextBoxFor(m => m.TelephoneNumbers.TelNumber).Mask("000-000-0000").Width(200).Height(30))
                        </div>
                        <span asp-validation-for="TelephoneNumbers.TelNumber" class="text-danger"></span>
                    </div>
                    <br />

                    @if ((Model.TelephoneNumbers.id != Model.TelephoneNumbers2.id))
                    {
                        <div class="form-group">
                            <h6 class="text-info">Second Number</h6>
                            <div class="col ">
                                <label asp-for="TelephoneNumbers2.TelNumber"></label>
                            </div>
                            <div class="col ">
                                @(Html.DevExtreme().TextBoxFor(m => m.TelephoneNumbers2.TelNumber).Mask("000-000-0000").Width(200).Height(30))
                            </div>
                            <span asp-validation-for="TelephoneNumbers2.TelNumber" class="text-danger"></span>
                        </div>
                    }

                </div>
            </div>

            <div class="col-sm-5">
                <b>Address Information</b>
                <hr width=50% size=5 align=left>
                <div style="background-color:lavenderblush;">

                    <div class="form-group rounded">
                        <h6 class="text-info">First Address</h6>
                        <div class="col">
                            <label asp-for="Addresses.AddressDetail"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextAreaFor(m => m.Addresses.AddressDetail).Height(80))
                        </div>
                        <span asp-validation-for="Addresses.AddressDetail" class="text-danger"></span>
                    </div>

                    <div class="col row">
                        <div class="form-group">
                            <div class="col">
                                <label asp-for="Addresses.District"></label>
                            </div>
                            <div class="col">
                                @(Html.DevExtreme().TextBoxFor(m => m.Addresses.District).Width(170).Height(30))
                            </div>
                            <span asp-validation-for="Addresses.District" class="text-danger"></span>
                        </div>
                        &nbsp; &nbsp;
                        <div class="form-group">
                            <div class="col">
                                <label asp-for="Addresses.Province"></label>
                            </div>
                            <div class="col">
                                @(Html.DevExtreme().TextBoxFor(m => m.Addresses.Province).Width(170).Height(30))
                            </div>
                            <span asp-validation-for="Addresses.Province" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col">
                            <label asp-for="Addresses.Code"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextBoxFor(m => m.Addresses.Code).Mask("00000").Width(170).Height(30))
                        </div>
                        <span asp-validation-for="Addresses.Code" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="col">
                            <label asp-for="Addresses.Note"></label>
                        </div>
                        <div class="col">
                            @(Html.DevExtreme().TextAreaFor(m => m.Addresses.Note).Height(40))
                        </div><br />
                        <span asp-validation-for="Addresses.Note" class="text-danger"></span>
                    </div>

                    @if ((Model.Addresses.id != Model.Addresses2.id))
                    {

                        <div class="form-group rounded">
                            <h6 class="text-info">Second Address</h6>
                            <div class="col">
                                <label asp-for="Addresses2.AddressDetail"></label>
                            </div>
                            <div class="col">
                                @(Html.DevExtreme().TextAreaFor(m => m.Addresses2.AddressDetail).Height(80))
                            </div>
                            <span asp-validation-for="Addresses2.AddressDetail" class="text-danger"></span>
                        </div>

                        <div class="col row">
                            <div class="form-group">
                                <div class="col">
                                    <label asp-for="Addresses2.District"></label>
                                </div>
                                <div class="col">
                                    @(Html.DevExtreme().TextBoxFor(m => m.Addresses2.District).Width(170).Height(30))
                                </div>
                                <span asp-validation-for="Addresses2.District" class="text-danger"></span>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <div class="col">
                                    <label asp-for="Addresses2.Province"></label>
                                </div>
                                <div class="col">
                                    @(Html.DevExtreme().TextBoxFor(m => m.Addresses2.Province).Width(170).Height(30))
                                </div>
                                <span asp-validation-for="Addresses2.Province" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
                                <label asp-for="Addresses2.Code"></label>
                            </div>
                            <div class="col">
                                @(Html.DevExtreme().TextBoxFor(m => m.Addresses2.Code).Mask("00000").Width(170).Height(30))
                            </div>
                            <span asp-validation-for="Addresses2.Code" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="col">
                                <label asp-for="Addresses2.Note"></label>
                            </div>
                            <div class="col">
                                @(Html.DevExtreme().TextAreaFor(m => m.Addresses2.Note).Height(40))
                            </div><br />
                            <span asp-validation-for="Addresses2.Note" class="text-danger"></span>
                        </div>
                    }
                </div>
                <br />

                <div class="form-group text-right">
                    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
                    <input type="submit" class="btn btn-outline-info" value="Update" />
                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>
    </form>
    @*
        <br />


        @*<div>
                <h6 class="text-info">First Number</h6>
                <partial name="_TelEditPartial" model="@Model.TelephoneNumbers"/>

            </div>
            <br />

            @if (Model.TelephoneNumbers.id != Model.TelephoneNumbers2.id)
            {
                <h6 class="text-info">Second Number</h6>
                <partial name="_TelEditPartial" model="@Model.TelephoneNumbers2" />

            }*@

    @*<div>
            <h6 class="text-info">First Address</h6>
            <partial name="_EditPartial" model="@Model.Addresses" />

        </div>
        <br />

        @if (Model.Addresses.id != Model.Addresses2.id)
        {
        <h6 class="text-info">Second Address</h6>
        <partial name="_EditPartial" model="@Model.Addresses2" />

        }*@

    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>

