@model IEnumerable<GorgeShipping.Models.User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="form-group row">
        <div class="col-3"></div>

        <div class="col">
            <br />
            <h2 class="text-info">Contact List</h2>

            <div class="text-right">
                <a asp-action="Create" class="btn btn-outline-info"> <i class="fas fa-user-plus"></i> &nbsp; New!</a>
            </div>
            <br /> <br />

            <div>
                <table class="table table-bordered">
                    <tr class="table-info table-striped text-center">
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().TelephoneNumbers.FirstOrDefault().TelNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Addresses.FirstOrDefault().AddressDetail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Addresses.FirstOrDefault().District)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Addresses.FirstOrDefault().Province)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Addresses.FirstOrDefault().Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Addresses.FirstOrDefault().Note)
                        </th>

                        <th></th>
                        
                    </tr>

                    @foreach (var user in Model)
                    {
                        <tr data-href="@Url.Action("Edit/"+user.id)">

                            <td>
                                @Html.DisplayFor(m => user.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.TelDefault.TelNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.Addresses.FirstOrDefault().AddressDetail)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.Addresses.FirstOrDefault().District)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.Addresses.FirstOrDefault().Province)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.Addresses.FirstOrDefault().Code)
                            </td>
                            <td>
                                @Html.DisplayFor(m => user.Addresses.FirstOrDefault().Note)
                            </td>                          
                                <partial name="_TableButtonPartial" model="user.id" />                           
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            })
        });
    </script>

    <style>
        tr[data-href] {
            cursor: pointer;
        }
    </style>
</body>
</html>


